{% extends 'project/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    {% block additionalhead %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    <style>
        .section-padding {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
    {% endblock %}
</head>
<body>
{% block body_block %}
<div class="container mt-5 section-padding">
    <div class="row">
        <div class="col-md-4">
            <h2>Top Ten Current Meals</h2>
            <ul class="list-group">
                {% for recipe in recipes %}
                <li class="list-group-item"><a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 section-padding">
            <h2>Add Recipe</h2>
            {% comment %} <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="photo">Add Photo:</label>
                    <input type="file" class="form-control-file" id="photo" name="photo">
                </div>
                <div class="form-group">
                    <label for="recipe_name">Recipe Name:</label>
                    <input type="text" class="form-control" id="recipe_name" name="recipe_name">
                </div>
                <div class="form-group">
                    <h3>Ingredients:</h3>
                    <textarea class="form-control" name="ingredients" rows="4" cols="50"></textarea>
                </div>
                <div class="form-group">
                    <h3>How to Make:</h3>
                    <textarea class="form-control" name="instructions" rows="8" cols="50"></textarea>
                </div>
                <div class="form-group section-padding">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form> {% endcomment %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }} {# Include the Django RecipeForm #}
                <div class="form-group section-padding">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
