{% extends 'project/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    {% block additionalhead %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    <style>
        .section-padding {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
    {% endblock %}
</head>
<body>
{% block body_block %}
<div class="container mt-5 section-padding">
    <div class="row">
        <div class="col-md-4">
            <h2>Top Ten Current Meals</h2>
            <ul class="list-group">
                {% for recipe in recipes %}
                <li class="list-group-item"><a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8 section-padding">
            <h2>Add Recipe</h2>
            <form id="addRecipeForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }} {# Include the Django RecipeForm #}
                <div class="form-group section-padding">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="resetForm()">Reset</button> {# Add the reset button #}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function resetForm() {
        document.getElementById("addRecipeForm").reset(); // Reset the form by its ID
        
       
        //reset each textarea field to an empty string
        var textareas = document.getElementById("addRecipeForm").getElementsByTagName("textarea");
        for (var i = 0; i < textareas.length; i++) {
            textareas[i].value = "";
        }
    }
</script>
{% endblock %}
</body>
</html>
