{% extends 'project/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block additionalhead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar for Cuisine List -->
            <div class="col-md-3">
                <div class="sidebar">
                    <h1 class="text-center mb-4">Select a Cuisine</h1>
                    <ul class="list-group">
                        <li class="list-group-item"><a class="text-decoration-none text-secondary font-weight-bold" href="{% url 'wad:italian' %}" style="font-size: 1.4rem;">Italian</a></li>
                        <li class="list-group-item"><a class="text-decoration-none text-secondary font-weight-bold" href="{% url 'wad:chinese' %}" style="font-size: 1.4rem;">Chinese</a></li>
                        <li class="list-group-item"><a class="text-decoration-none text-secondary font-weight-bold" href="{% url 'wad:thai' %}" style="font-size: 1.4rem;">Thai</a></li>
                        <li class="list-group-item"><a class="text-decoration-none text-secondary font-weight-bold" href="{% url 'wad:indian' %}" style="font-size: 1.4rem;">Indian</a></li>
                    </ul>
                </div>
            </div>
            <!-- Main Content with Image -->
            <div class="col-md-9">
                <div class="main-content text-center">
                    <img src="{% static 'images/food1.jpg' %}" alt="Food" style="max-width: 75%; height: auto;">
                    <div class="about-text">
                        <p>Select your preferred cuisine in the left sidebar! Clicking one of the selected cuisines will direct you to recipes that come under that cuisine.
                            Know a recipe that you can't see there? Make an account with us and add the recipe to the page. This allows others to try their recipe. You never know, people might like it.
                        </p>
                    </div>
                    <img src="{% static 'images/thai.jpg' %}" alt="Food" style="max-width: 75%; height: auto;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
