{% extends 'project/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block additionalhead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    {% endblock %}
</head>

<body>
{% block body_block %}
    <div class="content-container">
        <div class="sidebar">
            <h1>Select a Cuisine</h1>
            <ul>
                <li><a href="{% url 'wad:italian' %}">Italian</a></li>
                <li><a href="{% url 'wad:chinese' %}">Chinese</a></li>
                <li><a href="{% url 'wad:thai' %}">Thai</a></li>
                <li><a href="{% url 'wad:indian' %}">Indian</a></li>
            </ul>

        </div>

        <div class="main-content">
            <img src="/static/images/food1.jpg" alt="Photo">
            <div class="about-text">
                <p>Select your preferred cuisine in the left sidebar! Clicking on a cuisine
                    allows you to either view recipes or add recipes to your chosen cuisine!
                </p>
                <img src="/static/images/thai.jpg" alt="Photo" style="width: 100%; height: auto; margin-top: 40px;">
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>

