{% extends 'project/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>    
    {% block additionalhead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <h2>Top ten current meals</h2>
                    <ul class="list-group">
                        {% for recipe in recipes %}
                            <li class="list-group-item"><a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-content">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                    <p class="card-text">This website is made for new upcoming food enthusiasts who want to share their recipes and have others rate them to give them an understanding of what people think.
                         This will be displayed in a star rating format. If a lot of people like what you are making, the recipe will be displayed on the top recipes as shown here.
                          If you want to be on this list, make an account and post your recipe to the cuisine and wait for the reviews to come in.</p>
                </div>
            </div>
            <img src="{% static 'images/food5.jpg' %}" alt="Photo" class="img-thumbnail rounded shadow">
        </div>
    </div>
            <div class="col-md-3">
                <div class="image-right">
                    <img src="{% static 'images/health.jpg' %}" alt="Right Image" width="100%" class="img-thumbnail rounded-pill shadow">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
