{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="sidebar">
            <!-- displays top ten recipes -->
            <h2>Top ten current meals</h2>
            <ul>
                {% for recipe in recipes %}
                    <li>{{ recipe }}</li>
                {% endfor %}
            </ul>
            <img src="/static/images/health.jpg" alt="Photo" style="max-width: 100%; height: auto">
        </div>

        <div class="main-content">
            <img src="/static/images/HomePage1.jpg" alt="Photo">
            <div class="about-text">
                <p>text about website...</p>
            </div>
        </div>
    </div>
{% endblock %}
