{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Indain Page</title>
{% endblock %}

{% block heading_block %}
Indain
{% endblock %}

{% block body_block %}
<p class="col-md-8 fs-4">This is where you can add or view Indain recipes! Compare your recipes to others and leave a star rating and have other rate yours!</p>
<a href="{% url 'wad:addrecipe' %}" class="btn btn-primary mb-4">Add Recipe</a>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <input type="text" id="searchInput" onkeyup="filterRecipes()" placeholder="Search for recipes...">
      <ul class="list-group mt-3 mb-3" id="recipeList">
        {% if recipes %}
            {% for recipe in recipes %}
                <li class="list-group-item"><a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Sorry we don't have any Thai recipes yet. Please register and add some</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <img src="{% static 'images/indian.jpg' %}" alt="Photo" class="img-fluid" style="margin-top: 40px;" width="auto">
    </div>
  </div>
</div>

<script>
  // function to filter recipes based on user input
  function filterRecipes() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("recipeList");
    li = ul.getElementsByTagName('li');
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>

{% endblock %}
