{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Italian Page</title>
{% endblock %}

{% block heading_block %}
Italian
{% endblock %}

{% block body_block %}
<p class="col-md-8 fs-4">This is where you can add or view Itlain recipe! Compare your recipes to others and leave a star rating and have others rate yours!
</p>
<a href="{% url 'wad:addrecipe' %}" class = 'btn btn-primary mb-4'>Add Recipe</a>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <ul class="list-group mt-3 mb-3">
        {% if recipes %}
            {% for recipe in recipes %}
                <li class="list-group-item"><a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Sorry we don't have any Italian recipes yet. Please register and add some</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <img src="{% static 'images/italian.jpg' %}" alt="Photo" class="img-fluid" style="margin-top: 40px;" width="auto">
    </div>
  </div>
</div>
{% endblock %}






