{% extends 'project/base.html' %}
{% load staticfiles %}
<html>
<head>
    {% block title %}My Recipes{% endblock %}
    {% block additionalhead %}
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
    {% block body_block %}
    <div class="container mt-5">
        <h1 class="mb-4">My Recipes</h1>
        <div class="row">
            {% if user_recipes %}
                {% for recipe in user_recipes %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="Recipe Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p class="card-text"><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
                            <p class="card-text"><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
                            <p class="card-text"><strong>Instructions:</strong> {{ recipe.instructions }}</p>
                            <p class="card-text"><strong>Average rating:</strong> {{ recipe.avg_star_rating }}</p>
                            <form action="{% url 'wad:recipe_delete' pk=recipe.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete Recipe</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert">
                    No recipes found. Start adding some!
                </div>
                <a href="{% url 'wad:addrecipe' %}" class="btn btn-primary mb-4">Add Recipe</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>
