{% extends 'project/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}Register{% endblock %}
</head>

<body>
{% block body_block %}
    <h1>Register</h1>
    {% if registered %}
    Completed: <strong>Thanks for registering!</strong>
    <a href="{% url 'wad:login' %}"> Go to login page.</a><br />
    {% else %}
    <form id="register_form" method="post" action="{% url 'wad:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <p>If you decide to make an account you will be able to upload your own recipes and have people rate them.
        This gives you an idea of what other people think of your meals.</p>
    {% endif %}
{% endblock %}
</body>

</html>