{% extends 'base.html' %}

{% block title %}Thai{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">


{% block content %}
    <div class="content-container">
        <div class="sidebar">
            <h1>Select a Cuisine</h1>
            <ul>
                <li><a href="{% url 'wad:italian' %}">Italian</a></li>
                <li><a href="{% url 'wad:chinese' %}">Chinese</a></li>
                <li><a href="{% url 'wad:thai' %}">Indian</a></li>
            </ul>
        </div>

        <div class="main-content">
            
        </div>
    </div>
{% endblock %}
