{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Thai Page</title>
{% endblock %}

{% block heading_block %}
Thai
{% endblock %}

{% block body_block %}
<p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
<a href="{% url 'wad:addrecipe' %}">Add Recipe</a>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <ul class="list-group mt-3 mb-3">
        {% if recipes %}
            {% for recipe in recipes %}
                <li class="list-group-item"><a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Sorry we don't have any Thai recipes yet. Please register and add some</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <img src="{% static 'images/thai2.jpg' %}" alt="Photo" class="img-fluid" style="margin-top: 40px;" width="auto">
    </div>
  </div>
</div>
{% endblock %}
