
{% extends 'project/base.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Thai Page</title>
{% endblock %}

{% block heading_block %}
Thai
{% endblock %}

{% block body_block %}
<p class="col-md-8 fs-4">This is where you can add or view Thai recipes! Compare your recipes to others, leave a star rating and have others rate yours!</p>
{% if user.is_authenticated %}
  <a href="{% url 'wad:addrecipe' %}" class="btn btn-primary mb-4">Add Recipe</a>
{% else %}
  <p class="col-md-8 fs-4">Please login to start adding recipes.</p>
  <a href="{% url 'wad:login' %}" class="btn btn-primary mb-4">Login</a>
{% endif %}

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <input type="text" id="searchInput" onkeyup="filterRecipes()" placeholder="Search for recipes...">
      <input type="text" id="ingredientsInput" onkeyup="filterIngredients()" placeholder="Search for ingredients...">
      <ul class="list-group mt-3 mb-3" id="recipeList">
        {% if recipes %}
            {% for recipe in recipes %}
                <li class="list-group-item" data-ingredients="{{ recipe.ingredients }}">
                    <a href="{% url 'wad:view_recipe' recipe.cuisine recipe.slug %}">{{ recipe.name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Sorry we don't have any Thai recipes yet. Please register and add some</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 rounded-3">
      <img src="{% static 'images/thai2.jpg' %}" alt="Photo" class="img-thumbnail rounded" style="margin-top: 40px;" width="auto">
    </div>
  </div>
</div>

<script>
  // function to filter recipes based on user input
  function filterRecipes() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("recipeList");
    li = ul.getElementsByTagName('li');
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  // Function to filter recipes by ingredients
  function filterIngredients() {
    var input, filter, ul, li, ingredients, i;
    input = document.getElementById('ingredientsInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("recipeList");
    li = ul.getElementsByTagName('li');
    for (i = 0; i < li.length; i++) {
      ingredients = li[i].dataset.ingredients.toUpperCase();
      if (ingredients.indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}
