
.main-content {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto;
    margin-bottom: 20px;
}

.about-text {
    padding: 20px;
}