{% extends 'project/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add your CSS styles here */
        .recipe-list {
            margin-bottom: 20px;
        }
        .recipe-list li {
            margin-bottom: 10px;
        }
    </style>
    {% block additionalhead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wad/css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'wad/css/mainBodyStyle.css' %}">
    {% endblock %}
    
</head>
<body>
    <div class="content-container">
        <ul>
            <li><a href="{% url 'wad:viewrecipe' %}">View Recipes</a></li>
        </ul>
        <div class="sidebar">
            <h2>Top Ten Current Meals</h2>
            <ul class="recipe-list">
                {% for recipe in recipes %}
                    <li>
                        <strong>{{ recipe.name }}</strong><br>
                        Ingredients: {{ recipe.ingredients }}<br>
                        How to Make: {{ recipe.instructions }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-content">
            <h2>Add Recipe</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="photo">Add Photo:</label>
                <input type="file" id="photo" name="photo"><br>
                
                <label for="recipe_name">Recipe Name:</label>
                <input type="text" id="recipe_name" name="recipe_name"><br>
                
                <h3>Ingredients:</h3>
                <textarea name="ingredients" rows="4" cols="50"></textarea><br>
                
                <h3>How to Make:</h3>
                <textarea name="instructions" rows="8" cols="50"></textarea><br>
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>
